/*---Header---*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#business-name {
    display: inline-flex;
    margin: 0;
    font-size: 24px;
    letter-spacing: 0.05em;
    weight: 500;
    color: #ffffff;
}
#business-name> p1 {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 1px;
}
#business-name> p2 {
    margin: 0px;
    padding: 1px;
    border-right: white 2px solid;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}
.header-content {
    height: 450px;
    background-image: url("http://wallpapercave.com/wp/5JdtbnY.jpg");
}
.header-trans {
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 100px;
    margin-left: 100px;
}
#header-nav> a {
    text-decoration: none;
    display: inline-flex;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
#header-nav> a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #0095dd;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#header-nav> a:hover:before, a:focus:before, a:active:before {
    left: 0;
    right: 0;
}
.header-title> h1 {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
    margin-top: 0px;
}
.header-title> h1> span {
    display: inline-flex;
    border: #ffffff solid 5px;
    padding: 0.2em 0.5em;
    margin-top: 100px;
}
.header-subtitle {
    text-align: center;
    weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.05em;
}
#header-social-nav {
    text-align: center;
}
#header-social-nav> a> {
    display: inline-flex;
    text-decoration: none;
}
#header-social-nav> a> i {
    padding: 10px;
}
i {
    color: #ffffff;
}
i:hover {
    color: #0095dd;
}

/*----Main-----*/

.main {
    display: flex;
}
.main-content {
    flex: 1;
    margin-left: 160px;
    background-color: rgba(0, 0, 0, .8);
    font-size: 24px;
}
.main-content> p> span {
    font-size: 60px;
    background-color: #ffffff;
    color: #000000;
    padding-top: 2px;
    margin-right: 2px;
}
.side-content {
    border: 2px #ffffff solid;
    display: flex;
    background-color: rgba(0, 0, 0, .8);
    padding-right: 10px;
    margin-right: 160px;
    margin-top: 24px;
    margin-left: 24px;
}
